<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <h3>Topic: {{ object.topic }}</h3>

    <p>Q: {{ object.question }}</p>
    <p>A: {{ object.answer }}</p>

    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <p>No objects yet.</p>
    {% endfor %}
</body>
</html>