@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	width: 100%;
	min-height: 100%;
}
/* -------------------------------------- */
.footer_MainBox {
	width: 100%;
	background-color: #000000;
	display: grid;
	place-items: center;
}
.Footer_page {
	overflow: hidden;
	width: 100%;
	/*max-width: 1400px;*/
	width: 100%;
}
.Footer_conatiner {
	width: 100%;
	height: fit-content;
	background-color: #000000;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;

	position: relative;
}
.Footer_header {
    font-family: 'Montserrat', sans-serif;
	width: 50%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: rgba(245, 245, 245, 0.788);
	padding-right: 20px;
	padding: 10px;
}
.Footer_header p {
	font-size: 0.8rem;
}
.Footer_columns_holder {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}
.Footer_columns {
    font-family: 'Montserrat', sans-serif;
	height: 200px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	letter-spacing: 2px;
	overflow: hidden;
}
.Footer_columns h1 {
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.Footer_columns a {
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(245, 245, 245, 0.788);
	transition: all 0.5s ease;
}
.Footer_header img {
	width: 150px;
	object-fit: contain;
}
.Footer_columns a:hover {
	text-decoration: underline;
	color: #ff00bb;
}
.join_our {
    font-family: 'Montserrat', sans-serif;
	padding: 0 50px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	position: absolute;
	bottom: 5%;
	right: 0%;
}
.join_our p {
	color: #fff;
	font-weight: 500;
	margin-right: 120px;
	white-space: nowrap;
}
.input_holder {
	width: 300px;
	display: flex;
	justify-content: space-around;
}
.input_holder input {
	outline: none;
	border-radius: 20px;
	height: 35px;
	width: 200px;
	border: solid 1px white;
	padding: 10px;
}
.input_holder button{
	outline: none;
	border: none;
	width: 90px;
	height: 35px;
	border-radius: 20px;
	background: #ff00bb;
	font-weight: 600;
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
	padding: 0px 0px;
}
.Privacy_holder {
    font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 60px;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Privacy_links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Privacy_links a {
	font-weight: 500;
	width: fit-content;
	text-decoration: none;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.404);
	transition: all 0.5s ease;
}
.Privacy_links a:hover {
	color: rgba(255, 255, 255, 0.938);
}
.Social-media {
	margin-right: 40px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image_conatiner {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#link {
	object-fit: contain;
	width: 30px;
	cursor: pointer;
}
.copyRight {
    font-family: 'Montserrat', sans-serif;
	color: rgba(255, 255, 255, 0.644);
	height: 30px;
	font-size: 0.7rem;
	display: grid;
	place-items: center;
}
.responsive {
	display: none;
}

@media (max-width: 500px) {
	.contact-us-right {
		width: 95vw;
		height: 75%;
	}
	.image_conatiner {
		width: 100%;
	}
}

@media (max-width: 510px) {
	.Social-media {
		margin-bottom: 10px;
	}
}

@media (max-width: 900px) {
	.Footer_conatiner {
		flex-direction: column;
	}
	.Footer_header {
		width: 100%;
	}

	.desktop {
		display: none;
	}
	.responsive {
		display: flex;
	}
	.join_our {
		position: relative;
		align-items: center;
	}
}
@media (max-width: 750px) {
	.Footer_conatiner {
		padding: 5px;
	}
	.Footer_conatiner .Footer_columns_holder {
		width: 95%;
		align-items: center;
	}
	.Footer_columns {
		width: 50%;
	}
	.Footer_columns p {
		width: 95%;
	}
	.Privacy_holder {
		justify-content: space-around;
		flex-direction: column-reverse;
		padding: 10px;
	}
	.Privacy_links {
		width: 100%;
	}
	.Social-media {
		width: 50%;
	}
}

@media (max-width: 550px) {
	.copyRight {
		font-size: 0.5rem;
	}
}

@media (max-width: 376px) {
	.copyRight {
		font-size: 0.5rem;
	}

}
